nav{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.left-list, .right-list{
    display: flex;
}
.right-list{
    gap: 20px;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color: #E5E7EB;
    font-size: 18px;
}
#logo{
    font-size: 24px;
    color: #F9FAF8;
}
.hero{
    background-color: #1F2937;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px;
}
.card, .image{
   width: 400px; 
}
.image{
    height: 300px;
    background-color:#6d747d;
}
.hero h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.hero p, .hero button, .hero .image{
    font-size: 18px;
    color: #E5E7EB;
}
.hero button{
    background-color: #3882F6;
    padding: 8px 22px;
    border-radius: 10px;
    border: none;
}

#infoh1{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.information{
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
    gap: 40px;
   

}
.minicards img{
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 140px;
    height: 140px;
}
.minicards{  
    flex-wrap: wrap;
    width: 135px;
    text-align: center;
    font-size: 15px;
}

.quote{
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    /* flex-direction: column; */

}
.quote p{
    width: 830px;
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
}
span{
    display: block;
    align-self: flex-end;
}
.quotecontent{
    display: flex;
    flex-direction: column;
}